.DS_Store
/venv/
/src/cbdbweb/__pycache__/
/src/frontend/node_modules/
/src/frontend/dist/
/src/frontend/npm-debug.log*
/src/frontend/yarn-debug.log*
/src/frontend/yarn-error.log*
*.zip

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.babelrc
.editorconfig
.postcssrc.js